body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.top-bar{
  height: 100px;
}

.main-wrapper{
  height: calc(100vh - 100px);
  background-color: aquamarine;
}

.container-custom{
  width: 500px;
  height: 500px;
  background-color: bisque;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  font-size: 25px;
  color: white;
  border: 2px solid white;
}

.square span{
  display: none;
}

.square.clicked{
  background-color: aquamarine;
}

.square.clicked span{
  display: block;
}