.top-bar{
  height: 100px;
}

.main-wrapper{
  height: calc(100vh - 100px);
  background-color: aquamarine;
}

.container-custom{
  width: 500px;
  height: 500px;
  background-color: bisque;
}

.square{
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 2px solid white;
}

.square.clicked{
  background-color: aquamarine;
}